@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[color:#020A0D] text-[color:#E1E1E6] xl:flex xl:flex-1 xl:items-center xl:justify-center xl:min-h-screen;
}

@media (min-width: 1280px) {
  ::-webkit-scrollbar {
    width: 22px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4a808c;
    background-clip: padding-box;
    border: 8px solid transparent;
    border-radius: 15px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 65px;
  }

  main {
    overflow: overlay;
  }
}
